{% extends 'base.html' %}

{% block content %}

<div class="create-card">
    <fieldset>
        <legend><h4>Create Post</h4></legend>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="email address"> <br>

            <label for="Password">Password:</label>
            <input type="password" name='password' placeholder="password"> <br>
            <div class="submit">
                <button class="" type="submit">Login</button>
            </div>
        </form>
    </fieldset>
</div>
{% endblock %}