
<nav>
    <div class="container">
        <h2><a href="/">PostVyb</a></h2>

        <div class="">
            <input type="text" name="query" placeholder="Search PostVyb">
        </div>
        <ul class="list-wrapper">
            {% if not request.user.is_authenticated %}
                <li class="list"><a href="{% url 'login' %}">login</a</li>
                <li class="list"><a href="{% url 'register' %}">Register</a></li>
            {% else %}
                <li class="list"><a href="{% url 'index' %}">Home</a></li>
                <li class="list"><a href="{% url 'explore' %}">Explore</a></li>
                <li class="list"><a href="{% url 'create-post' %}">Add Post</a></li>
                <li class="list"><a href="{% url 'profile' request.user.id %}">Profile</a</li>
                <li class="list"><a href="">@{{request.user.username}}</a</li>
                <li class="list"><a href="{% url 'logout' %}">Logout</a></li>
            {% endif %}
        </ul>
    </div>
</nav>


<h4>dhdgv</h4>