{% extends 'base.html' %}

{% block content %}
<div class="profile-info-wrapper">
    <div class="user-informations">
        <div class="image">
            <h3>User Info</h3>
            <div class="profile img">
                <img src="{{user.profile.url}}" alt="">
            </div>
        </div>
        <div class="user-info">
            <ul>
                <li>{{user.first_name}}</li>
                <li>{{user.last_name}}</li>
                <li>{{user.email}}</li>
            </ul>
        </div>
    </div>

    <div class="video-posts">
        <div class="videos-wrapper">
             {% for video in videos %}
            <div class="user-video">
                    <div class="title-author">
                        <span class="">{{video.title}}</span>
                    </div>
                    <video controls>
                        <source src={{video.file.url}}>
                    </video>
                    <div class="interactions-date">
                        <div class="interact">
                            <div class="interact">
                                <span class="material-icons">favorite_border</span>
                                <span class="material-icons">chat_bubble_outline</span>
                                <span class="material-icons">share</span>
                            </div>

                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
    {% endblock %}